.u-center-text {
  text-align: center !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  background-color: #f5f5f6; }

body {
  font-family: 'Noto Sans TC', sans-serif;
  font-weight: 100;
  line-height: 1.7;
  color: #3f3d3f; }

.heading-primary {
  font-size: 6rem; }

.heading-secondary {
  font-size: 3.6rem; }

.heading-tertiary {
  font-size: 2.4rem; }

.thumbnail__photo {
  width: 100%; }

.thumbnail__text {
  font-size: 1.6rem; }

.footer {
  background-color: #f0f0f1;
  text-align: center;
  font-size: 1.6rem; }
  .footer__logo-box {
    text-align: center; }
  .footer__logo {
    width: 16rem;
    height: auto; }
  .footer__navigation {
    display: inline-block; }
  .footer__list {
    list-style: none; }
  .footer__link:link, .footer__link:visited {
    text-decoration: none;
    text-transform: uppercase; }

.row {
  max-width: 126.4rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    clear: both;
    display: table; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 1.6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 1.6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 1.6rem) / 3); }

.header {
  height: 85vh;
  background-image: url(../img/hero.jpg);
  background-size: cover;
  background-position: top; }

.navigation {
  height: 5vh;
  position: relative;
  background-color: #f0f0f1; }
  .navigation__logo-box {
    position: absolute;
    left: 0;
    top: 0; }
  .navigation__logo {
    height: 3.6rem; }
  .navigation__chechbox {
    display: none; }
  .navigation__button {
    display: none; }
  .navigation__nav {
    position: absolute;
    right: 0;
    top: 0; }
  .navigation__item {
    display: inline-block; }
  .navigation__link:link, .navigation__link:visited {
    text-decoration: none;
    text-transform: uppercase; }

.section-thumbnails {
  margin-top: 6rem;
  text-decoration: none;
  text-transform: uppercase; }
