.u-center-text {
  text-align: center !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  background-color: #f5f5f6; }

body {
  font-family: 'Noto Sans TC', sans-serif;
  font-weight: 100;
  line-height: 1.7;
  color: #3f3d3f; }

.heading-primary {
  font-size: 6rem; }

.heading-secondary {
  font-size: 3.6rem; }

.heading-tertiary {
  font-size: 2.4rem; }

.thumbnail__photo {
  width: 100%; }

.thumbnail__text {
  font-size: 1.6rem; }

.carousel {
  height: 100%;
  text-align: center;
  /* Autoplay for 3 slides
  #slide1:checked ~ &__slider &__inner {
    margin-left: 0;
  }

  #slide2:checked ~ &__slider &__inner {
    margin-left: -100%;
  }

  #slide3:checked ~ &__slider &__inner {
    margin-left: -200%;
  }

  @keyframes slide {
    0%, 25% {
      margin-left: 0;
    }
    33.333333%, 50% {
      margin-left: -100%;
    }
    66.666667%, 80% {
      margin-left: -200%;
    }
  }

  & > #play1:checked ~ &__slider &__inner {
    animation: slide 12300ms infinite;
  }
   */
  /* Autoplay for 3 bullets
  @keyframes bullet {
    0%, 33.333333% {
      background: red;
    }

    33.333333%, 100% {
      background: gray;
    }
  }

  #play1:checked ~ &__labels &__bullets &__bullet:nth-child(1) {
    animation: bullet 12300ms infinite -1000ms;
  }

  #play1:checked ~ &__labels &__bullets &__bullet:nth-child(2) {
    animation: bullet 12300ms infinite 3100ms;
  }

  #play1:checked ~ &__labels &__bullets &__bullet:nth-child(3) {
    animation: bullet 12300ms infinite 7200ms;
  }
   */ }
  .carousel__radio {
    display: none; }
  .carousel__slider {
    width: 100%;
    height: 100%;
    overflow: hidden; }
  #slide1:checked ~ .carousel__labels .carousel__bullets .carousel__bullet:nth-child(1),
  #slide2:checked ~ .carousel__labels .carousel__bullets .carousel__bullet:nth-child(2),
  #slide3:checked ~ .carousel__labels .carousel__bullets .carousel__bullet:nth-child(3) {
    background: red; }
  .carousel__inner {
    width: 100%;
    height: 100%;
    position: relative; }
  .carousel__image-slide {
    width: 110%;
    height: 100%;
    float: left;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0; }
  .carousel__image {
    width: 100%;
    height: 100%;
    background-size: cover; }
    .carousel__image--p1 {
      background-image: url(../img/hero-1.jpg); }
    .carousel__image--p2 {
      background-image: url(../img/hero-2.jpg); }
    .carousel__image--p3 {
      background-image: url(../img/hero-3.jpg); }
    .carousel__image--p4 {
      background-image: url(../img/hero-4.jpg); }
    .carousel__image--p5 {
      background-image: url(../img/hero-5.jpg); }
  .carousel__labels {
    margin-top: 2rem;
    /*
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
     */ }
  .carousel__bullet {
    width: 1rem;
    height: 1rem;
    border-radius: .5rem;
    background: gray;
    display: inline-block;
    margin: 0 .1rem;
    cursor: pointer; }
    .carousel__bullet:not(:last-child) {
      margin-right: 2rem; }

@keyframes fadeSlide1 {
  0% {
    opacity: 1; }
  20% {
    opacity: 0;
    margin-left: -5%; }
  40% {
    opacity: 0; }
  60% {
    opacity: 0; }
  80% {
    opacity: 0;
    margin-left: 5%; }
  100% {
    opacity: 1; } }
  .carousel__inner > *:nth-child(1) {
    animation: fadeSlide1 40s infinite; }

@keyframes fadeSlide2 {
  0% {
    opacity: 0;
    margin-left: 5%; }
  20% {
    opacity: 1; }
  40% {
    opacity: 0;
    margin-left: -5%; }
  60% {
    opacity: 0; }
  80% {
    opacity: 0; }
  100% {
    opacity: 0; } }
  .carousel__inner > *:nth-child(2) {
    animation: fadeSlide2 40s infinite; }

@keyframes fadeSlide3 {
  0% {
    opacity: 0; }
  20% {
    opacity: 0;
    margin-left: 5%; }
  40% {
    opacity: 1; }
  60% {
    opacity: 0;
    margin-left: -5%; }
  80% {
    opacity: 0; }
  100% {
    opacity: 0; } }
  .carousel__inner > *:nth-child(3) {
    animation: fadeSlide3 40s infinite; }

@keyframes fadeSlide4 {
  0% {
    opacity: 0; }
  20% {
    opacity: 0; }
  40% {
    opacity: 0;
    margin-left: 5%; }
  60% {
    opacity: 1; }
  80% {
    opacity: 0;
    margin-left: -5%; }
  100% {
    opacity: 0; } }
  .carousel__inner > *:nth-child(4) {
    animation: fadeSlide4 40s infinite; }

@keyframes fadeSlide5 {
  0% {
    opacity: 0; }
  20% {
    opacity: 0; }
  40% {
    opacity: 0; }
  60% {
    opacity: 0;
    margin-left: 5%; }
  80% {
    opacity: 1; }
  100% {
    opacity: 0;
    margin-left: -5%; } }
  .carousel__inner > *:nth-child(5) {
    animation-timing-function: linear;
    animation: fadeSlide5 40s infinite; }

@keyframes bullet1 {
  0% {
    background: #3f3d3f; }
  20% {
    background: #e8e8ea; }
  40% {
    background: #e8e8ea; }
  60% {
    background: #e8e8ea; }
  80% {
    background: #e8e8ea; }
  100% {
    background: #3f3d3f; } }
  .carousel__bullet:nth-child(1) {
    animation: bullet1 40s infinite; }

@keyframes bullet2 {
  0% {
    background: #e8e8ea; }
  20% {
    background: #3f3d3f; }
  40% {
    background: #e8e8ea; }
  60% {
    background: #e8e8ea; }
  80% {
    background: #e8e8ea; }
  100% {
    background: #e8e8ea; } }
  .carousel__bullet:nth-child(2) {
    animation: bullet2 40s infinite; }

@keyframes bullet3 {
  0% {
    background: #e8e8ea; }
  20% {
    background: #e8e8ea; }
  40% {
    background: #3f3d3f; }
  60% {
    background: #e8e8ea; }
  80% {
    background: #e8e8ea; }
  100% {
    background: #e8e8ea; } }
  .carousel__bullet:nth-child(3) {
    animation: bullet3 40s infinite; }

@keyframes bullet4 {
  0% {
    background: #e8e8ea; }
  20% {
    background: #e8e8ea; }
  40% {
    background: #e8e8ea; }
  60% {
    background: #3f3d3f; }
  80% {
    background: #e8e8ea; }
  100% {
    background: #e8e8ea; } }
  .carousel__bullet:nth-child(4) {
    animation: bullet4 40s infinite; }

@keyframes bullet5 {
  0% {
    background: #e8e8ea; }
  20% {
    background: #e8e8ea; }
  40% {
    background: #e8e8ea; }
  60% {
    background: #e8e8ea; }
  80% {
    background: #3f3d3f; }
  100% {
    background: #e8e8ea; } }
  .carousel__bullet:nth-child(5) {
    animation: bullet5 40s infinite; }

.footer {
  background-color: #f0f0f1;
  text-align: center;
  font-size: 1.6rem; }
  .footer__logo-box {
    text-align: center; }
  .footer__logo {
    width: 16rem;
    height: auto; }
  .footer__navigation {
    display: inline-block; }
  .footer__list {
    list-style: none; }
  .footer__link:link, .footer__link:visited {
    text-decoration: none;
    text-transform: uppercase; }

.row {
  max-width: 126.4rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    clear: both;
    display: table; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 1.6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 1.6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 1.6rem) / 3); }

.header {
  height: 90vh;
  /*
  background-image: url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
   */ }

.navigation {
  height: 5vh;
  position: relative;
  background-color: #f0f0f1; }
  .navigation__logo-box {
    position: absolute;
    left: 0;
    top: 0; }
  .navigation__logo {
    height: 3.6rem; }
  .navigation__chechbox {
    display: none; }
  .navigation__button {
    display: none; }
  .navigation__nav {
    position: absolute;
    right: 0;
    top: 0; }
  .navigation__item {
    display: inline-block; }
  .navigation__link:link, .navigation__link:visited {
    text-decoration: none;
    text-transform: uppercase; }

.section-thumbnails {
  margin-top: 6rem;
  text-decoration: none;
  text-transform: uppercase; }
