.u-center-text {
  text-align: center !important; }

.u-margin-bottom-huge {
  margin-bottom: 12rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  box-sizing: border-box;
  background-color: #f5f5f6; }

body {
  font-family: 'Noto Sans TC', sans-serif;
  font-weight: 100;
  line-height: 1.7;
  color: #3f3d3f; }

.heading-primary {
  font-size: 6rem;
  font-weight: 100; }

.heading-secondary {
  font-size: 3.6rem;
  font-weight: 100; }

.heading-tertiary {
  font-size: 2.4rem;
  font-weight: 100; }

.thumbnail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /*
  &__inview {
    opacity: 1;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    transition-delay: 1s;
  }
   */ }
  .thumbnail a {
    display: contents; }
  .thumbnail__photo-box {
    flex: 1 1 auto;
    object-fit: cover;
    overflow: hidden;
    display: flex; }
  .thumbnail__photo {
    width: 100%;
    background-size: cover;
    transition: all 4s ease-out;
    cursor: pointer;
    flex: 1 1 auto;
    object-fit: cover; }
  .thumbnail:hover .thumbnail__photo {
    filter: brightness(130%) contrast(130%);
    transform: scale(1.1); }
  .thumbnail:hover .thumbnail__text-box {
    border-bottom: 0.1rem solid #004469; }
  .thumbnail:hover .thumbnail__text-box-link {
    color: #004469; }
  .thumbnail__text-box {
    margin-top: 1.6rem;
    padding-bottom: 1.6rem;
    transition: all .2s;
    border-bottom: 0.1rem solid #3f3d3f; }
    .thumbnail__text-box span {
      float: right;
      transition: all .2s; }
  .thumbnail__text-box-link:visited {
    color: #3f3d3f; }
  .thumbnail__heading {
    font-size: 1.6rem; }
  .thumbnail__text {
    font-size: 1.2rem; }

.carousel {
  height: 100%;
  text-align: center;
  position: relative;
  /*
  #slide1:checked ~ &__labels &__bullets &__bullet:nth-child(1),
  #slide2:checked ~ &__labels &__bullets &__bullet:nth-child(2),
  #slide3:checked ~ &__labels &__bullets &__bullet:nth-child(3) {
    background: red;
  }
   */
  /* Autoplay for 3 slides
  #slide1:checked ~ &__slider &__inner {
    margin-left: 0;
  }

  #slide2:checked ~ &__slider &__inner {
    margin-left: -100%;
  }

  #slide3:checked ~ &__slider &__inner {
    margin-left: -200%;
  }

  @keyframes slide {
    0%, 25% {
      margin-left: 0;
    }
    33.333333%, 50% {
      margin-left: -100%;
    }
    66.666667%, 80% {
      margin-left: -200%;
    }
  }

  & > #play1:checked ~ &__slider &__inner {
    animation: slide 12300ms infinite;
  }
   */
  /* Autoplay for 3 bullets
  @keyframes bullet {
    0%, 33.333333% {
      background: red;
    }

    33.333333%, 100% {
      background: gray;
    }
  }

  #play1:checked ~ &__labels &__bullets &__bullet:nth-child(1) {
    animation: bullet 12300ms infinite -1000ms;
  }

  #play1:checked ~ &__labels &__bullets &__bullet:nth-child(2) {
    animation: bullet 12300ms infinite 3100ms;
  }

  #play1:checked ~ &__labels &__bullets &__bullet:nth-child(3) {
    animation: bullet 12300ms infinite 7200ms;
  }
   */ }
  .carousel__caption {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #fbfbfb;
    z-index: 100; }
  .carousel__radio {
    display: none; }
  .carousel__slider {
    width: 100%;
    height: 100%;
    overflow: hidden; }
  .carousel__inner {
    width: 100%;
    height: 100%;
    position: relative; }
  .carousel__image-slide {
    width: 120%;
    height: 100%;
    float: left;
    position: absolute;
    left: -10%;
    top: 0;
    right: 0;
    bottom: 0; }
  .carousel__image {
    width: 100%;
    height: 100%;
    background-size: cover; }
    .carousel__image--p1 {
      background-image: url(../img/hero-1.jpg); }
    .carousel__image--p2 {
      background-image: url(../img/hero-2.jpg); }
    .carousel__image--p3 {
      background-image: url(../img/hero-3.jpg); }
    .carousel__image--p4 {
      background-image: url(../img/hero-4.jpg); }
    .carousel__image--p5 {
      background-image: url(../img/hero-5.jpg); }
  .carousel__labels {
    margin-top: 2rem;
    /*
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
     */ }
  .carousel__bullet {
    width: 1rem;
    height: 1rem;
    border-radius: .5rem;
    background: gray;
    display: inline-block;
    margin: 0 .1rem;
    cursor: pointer; }
    .carousel__bullet:not(:last-child) {
      margin-right: 2rem; }

@keyframes fadeSlide1 {
  0% {
    opacity: 1; }
  20% {
    opacity: 0;
    margin-left: -10%; }
  40% {
    opacity: 0; }
  60% {
    opacity: 0; }
  80% {
    opacity: 0;
    margin-left: 10%; }
  100% {
    opacity: 1; } }

@keyframes fade1 {
  0% {
    opacity: 1; }
  20% {
    opacity: 0; }
  40% {
    opacity: 0; }
  60% {
    opacity: 0; }
  80% {
    opacity: 0; }
  100% {
    opacity: 1; } }
  .carousel__inner > *:nth-child(1) .carousel__image {
    animation: fadeSlide1 35s cubic-bezier(0.5, 0.01, 1, 0.01) infinite; }
  .carousel__caption--c1 {
    animation: fade1 35s cubic-bezier(0.5, 0.01, 1, 0.01) infinite; }

@keyframes fadeSlide2 {
  0% {
    opacity: 0;
    margin-left: 10%; }
  20% {
    opacity: 1; }
  40% {
    opacity: 0;
    margin-left: -10%; }
  60% {
    opacity: 0; }
  80% {
    opacity: 0; }
  100% {
    opacity: 0; } }

@keyframes fade2 {
  0% {
    opacity: 0; }
  20% {
    opacity: 1; }
  40% {
    opacity: 0; }
  60% {
    opacity: 0; }
  80% {
    opacity: 0; }
  100% {
    opacity: 0; } }
  .carousel__inner > *:nth-child(2) .carousel__image {
    animation: fadeSlide2 35s cubic-bezier(0.5, 0.01, 1, 0.01) infinite; }
  .carousel__caption--c2 {
    animation: fade2 35s cubic-bezier(0.5, 0.01, 1, 0.01) infinite; }

@keyframes fadeSlide3 {
  0% {
    opacity: 0; }
  20% {
    opacity: 0;
    margin-left: 10%; }
  40% {
    opacity: 1; }
  60% {
    opacity: 0;
    margin-left: -10%; }
  80% {
    opacity: 0; }
  100% {
    opacity: 0; } }

@keyframes fade3 {
  0% {
    opacity: 0; }
  20% {
    opacity: 0; }
  40% {
    opacity: 1; }
  60% {
    opacity: 0; }
  80% {
    opacity: 0; }
  100% {
    opacity: 0; } }
  .carousel__inner > *:nth-child(3) .carousel__image {
    animation: fadeSlide3 35s cubic-bezier(0.5, 0.01, 1, 0.01) infinite; }
  .carousel__caption--c3 {
    animation: fade3 35s cubic-bezier(0.5, 0.01, 1, 0.01) infinite; }

@keyframes fadeSlide4 {
  0% {
    opacity: 0; }
  20% {
    opacity: 0; }
  40% {
    opacity: 0;
    margin-left: 10%; }
  60% {
    opacity: 1; }
  80% {
    opacity: 0;
    margin-left: -10%; }
  100% {
    opacity: 0; } }

@keyframes fade4 {
  0% {
    opacity: 0; }
  20% {
    opacity: 0; }
  40% {
    opacity: 0; }
  60% {
    opacity: 1; }
  80% {
    opacity: 0; }
  100% {
    opacity: 0; } }
  .carousel__inner > *:nth-child(4) .carousel__image {
    animation: fadeSlide4 35s cubic-bezier(0.5, 0.01, 1, 0.01) infinite; }
  .carousel__caption--c4 {
    animation: fade4 35s cubic-bezier(0.5, 0.01, 1, 0.01) infinite; }

@keyframes fadeSlide5 {
  0% {
    opacity: 0; }
  20% {
    opacity: 0; }
  40% {
    opacity: 0; }
  60% {
    opacity: 0;
    margin-left: 10%; }
  80% {
    opacity: 1; }
  100% {
    opacity: 0;
    margin-left: -10%; } }

@keyframes fade5 {
  0% {
    opacity: 0; }
  20% {
    opacity: 0; }
  40% {
    opacity: 0; }
  60% {
    opacity: 0; }
  80% {
    opacity: 1; }
  100% {
    opacity: 0; } }
  .carousel__inner > *:nth-child(5) .carousel__image {
    animation: fadeSlide5 35s cubic-bezier(0.5, 0.01, 1, 0.01) infinite; }
  .carousel__caption--c5 {
    animation: fade5 35s cubic-bezier(0.5, 0.01, 1, 0.01) infinite; }

@keyframes bullet1 {
  0% {
    background: #3f3d3f; }
  20% {
    background: #e8e8ea; }
  40% {
    background: #e8e8ea; }
  60% {
    background: #e8e8ea; }
  80% {
    background: #e8e8ea; }
  100% {
    background: #3f3d3f; } }
  .carousel__bullet:nth-child(1) {
    animation: bullet1 40s infinite; }

@keyframes bullet2 {
  0% {
    background: #e8e8ea; }
  20% {
    background: #3f3d3f; }
  40% {
    background: #e8e8ea; }
  60% {
    background: #e8e8ea; }
  80% {
    background: #e8e8ea; }
  100% {
    background: #e8e8ea; } }
  .carousel__bullet:nth-child(2) {
    animation: bullet2 40s infinite; }

@keyframes bullet3 {
  0% {
    background: #e8e8ea; }
  20% {
    background: #e8e8ea; }
  40% {
    background: #3f3d3f; }
  60% {
    background: #e8e8ea; }
  80% {
    background: #e8e8ea; }
  100% {
    background: #e8e8ea; } }
  .carousel__bullet:nth-child(3) {
    animation: bullet3 40s infinite; }

@keyframes bullet4 {
  0% {
    background: #e8e8ea; }
  20% {
    background: #e8e8ea; }
  40% {
    background: #e8e8ea; }
  60% {
    background: #3f3d3f; }
  80% {
    background: #e8e8ea; }
  100% {
    background: #e8e8ea; } }
  .carousel__bullet:nth-child(4) {
    animation: bullet4 40s infinite; }

@keyframes bullet5 {
  0% {
    background: #e8e8ea; }
  20% {
    background: #e8e8ea; }
  40% {
    background: #e8e8ea; }
  60% {
    background: #e8e8ea; }
  80% {
    background: #3f3d3f; }
  100% {
    background: #e8e8ea; } }
  .carousel__bullet:nth-child(5) {
    animation: bullet5 40s infinite; }

.hero {
  width: 144rem;
  margin: 0 auto;
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(../img/img-1-2x.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  height: 100%;
  text-align: center; }
  .hero__text-box {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .hero__heading {
    color: #fbfbfb; }
  .hero__text {
    color: #fbfbfb;
    font-size: 1.6rem;
    display: block;
    margin-bottom: 2rem; }
  .hero__button {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 2.4rem;
    color: #fbfbfb;
    padding: 1.5rem 4rem;
    border: 0.1rem solid #fbfbfb;
    border-radius: .2rem;
    display: block;
    transition: all 0.4s ease-in-out; }
    .hero__button:hover {
      color: #1d1d1f;
      background-color: #fbfbfb; }

.gallery {
  display: flex;
  flex-wrap: wrap;
  /*
  &:hover &__image-box:not(:hover) &__image {
    filter: blur(3px)
  }
   */ }
  .gallery__image-box {
    height: 62.5rem;
    flex-grow: 1;
    display: flex;
    overflow: hidden; }
    .gallery__image-box:not(:last-child) {
      margin-bottom: 1.6rem; }
  .gallery__link {
    display: contents; }
  .gallery__image {
    margin: 0 .8rem 0 .8rem;
    height: 100%;
    object-fit: cover;
    flex: 1 1 auto;
    transition: all 1s ease-in-out; }
    .gallery__image:hover {
      filter: brightness(105%) contrast(130%); }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  overflow: hidden;
  filter: brightness(50%); }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.footer {
  background-color: #f0f0f1;
  text-align: center;
  font-size: 1.6rem;
  padding-bottom: 4rem; }
  .footer__logo-box {
    padding-top: 2rem;
    text-align: center; }
  .footer__logo {
    width: 16rem;
    height: auto; }
  .footer__navigation {
    display: inline-block; }
  .footer__list {
    list-style: none; }
  .footer__link:link, .footer__link:visited {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.6rem;
    color: #3f3d3f;
    transition: all .2s; }
  .footer__link:hover, .footer__link:active {
    color: #004469; }

.row {
  max-width: 144rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 6rem; }
  .row::after {
    content: "";
    clear: both;
    display: table; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 1.6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 1.6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 1.6rem) / 3); }

.header {
  height: 87.5vh; }

.navigation {
  height: 7.5vh;
  position: relative;
  background-color: #f5f5f6;
  width: 144rem;
  margin: 0 auto; }
  .navigation__logo-box {
    position: absolute;
    left: 0;
    top: 2.5rem; }
  .navigation__logo {
    height: 3.6rem; }
  .navigation__chechbox {
    display: none; }
  .navigation__button {
    display: none; }
  .navigation__nav {
    position: absolute;
    right: 0;
    top: 2.5rem; }
  .navigation__list {
    transform: scale(1.05); }
  .navigation__item {
    display: inline-block; }
    .navigation__item:not(:last-child) {
      margin-right: 1.5rem; }
  .navigation__link:link, .navigation__link:visited {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.6rem;
    color: #3f3d3f;
    transition: all .2s; }
  .navigation__link:hover, .navigation__link:active {
    color: #004469; }

.section-thumbnails {
  margin-top: 8rem;
  margin-bottom: 16rem;
  text-decoration: none;
  text-transform: uppercase; }
  .section-thumbnails .row {
    display: flex;
    flex-wrap: wrap; }
  .section-thumbnails .row .col-1-of-3 {
    flex: 1 1 auto; }
  .section-thumbnails .row .col-1-of-3 .thumbnail {
    height: 100%;
    opacity: 0; }
  .section-thumbnails .row .col-1-of-3 .thumbnail__inview {
    opacity: 1;
    transition-duration: 1.5s;
    transition-timing-function: ease-in-out; }
  .section-thumbnails .row .col-1-of-3:nth-child(1) .thumbnail__inview {
    transition-delay: 0s; }
  .section-thumbnails .row .col-1-of-3:nth-child(2) .thumbnail__inview {
    transition-delay: 1s; }
  .section-thumbnails .row .col-1-of-3:nth-child(3) .thumbnail__inview {
    transition-delay: 2s; }

.section-gallery {
  max-width: 144rem;
  margin: 6rem auto 12rem auto; }
  .section-gallery__text-box {
    width: 100%; }
  .section-gallery__text {
    margin-top: 4rem;
    font-size: 1.6rem; }

.landing-page {
  text-align: center; }
  .landing-page__logo-box {
    position: absolute;
    display: block;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: brightness(0) invert(1);
    width: 20%;
    opacity: 0.75; }
  .landing-page__text-box {
    position: absolute;
    display: block;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .landing-page__text {
    font-size: 1.6rem;
    color: #fbfbfb;
    margin-bottom: 4rem; }
  .landing-page__button {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.6rem;
    color: #fbfbfb;
    padding: 1.5rem 4rem;
    border: 0.2rem solid rgba(251, 251, 251, 0.75);
    border-radius: .2rem;
    display: block;
    transition: all 0.4s ease-in-out;
    width: 20%;
    margin: 0 auto;
    cursor: pointer; }
    .landing-page__button:hover {
      color: rgba(29, 29, 31, 0.75);
      background-color: #fbfbfb; }
  .landing-page__icon-box {
    position: absolute;
    display: block;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: brightness(0) invert(1); }
  .landing-page__brand-icon {
    display: inline-block;
    height: 1.6rem;
    opacity: 0.75;
    margin-right: 1.2rem; }
    .landing-page__brand-icon:last-child {
      margin-right: 0; }

.section-services {
  width: 144rem;
  margin: 0 auto; }
  .section-services__services {
    height: 50vh;
    position: relative;
    display: block; }
  .section-services__service--1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("../img/img-2-1x.jpg");
    background-size: cover;
    height: 100%;
    width: 60%;
    position: absolute;
    z-index: 2;
    clip-path: polygon(0 0, 100% 0, 70% 100%, 0 100%);
    left: 0; }
  .section-services__service--2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("../img/img-3-1x.jpg");
    background-size: cover;
    height: 100%;
    width: 60%;
    position: absolute;
    z-index: 1;
    right: 0; }
  .section-services__service-text-box {
    display: block;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
    .section-services__service-text-box--1 {
      left: 40%; }
    .section-services__service-text-box--2 {
      left: 60%; }
  .section-services__service-heading {
    color: #fbfbfb; }
  .section-services__service-text {
    color: #fbfbfb;
    font-size: 2.4rem; }

.section-workflow {
  width: 144rem;
  margin: 0 auto; }
  .section-workflow__workflow-heading {
    margin-top: 8rem; }
  .section-workflow__step {
    position: relative;
    background-color: #fbfbfb;
    clip-path: polygon(5% 0, 100% 0, 95% 100%, 0 100%);
    text-align: center;
    height: 10vh;
    margin-bottom: 4rem; }
  .section-workflow__step-text-box {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); }
  .section-workflow__step-heading {
    color: #3f3d3f; }
  .section-workflow__step-text {
    color: #3f3d3f;
    font-size: 1.6rem; }
