// Color
$color-primary: #004469;

$color-gray-dark: #3f3d3f;

$color-gray-light: #f5f5f6;

$color-white: #fbfbfb;
$color-black: #1d1d1f;

// Font
$default-font-size: 1.6rem;

// Grid
$grid-width: 144rem;
$gutter-vertical: 6rem;
$gutter-horizontal:  1.6rem;
