.footer {
  background-color: darken($color-gray-light, 2%);
  text-align: center;
  font-size: 1.6rem;

  &__logo-box {
    text-align: center;
  }

  &__logo {
    width: 16rem;
    height: auto;
  }

  &__navigation {
    display: inline-block;
  }

  &__list {
    list-style: none;
  }

  &__link {
    &:link,
    &:visited {
      text-decoration: none;
      text-transform: uppercase;
    }
  }
}