.footer {
  background-color: darken($color-gray-light, 2%);
  text-align: center;
  font-size: $default-font-size;
  padding-bottom: 4rem;

  &__logo-box {
    padding-top: 2rem;
    text-align: center;
  }

  &__logo {
    width: 16rem;
    height: auto;
  }

  &__navigation {
    display: inline-block;
  }

  &__list {
    list-style: none;
  }

  &__link {
    &:link,
    &:visited {
      text-decoration: none;
      text-transform: uppercase;
      font-size: $default-font-size;
      color: $color-gray-dark;
    }

    &:hover,
    &:active {
      color: $color-primary;
    }
  }
}