.navigation {
  height: 8rem;
  position: relative;
  background-color: $color-gray-light;
  max-width: $grid-width;
  margin: 0 auto;

  &__logo-box {
    position: absolute;
    left: 0;
    top: 2rem;
  }

  &__logo {
    height: 3.6rem;
  }

  &__chechbox {
    display: none;
  }

  &__button {
    display: none;
  }

  &__nav {
    position: absolute;
    right: 0;
    top: 2.7rem;
  }

  &__list {

  }

  &__item {
    display: inline-block;
    &:not(:last-child) {
      margin-right: 1.5rem;
    }
  }

  &__link {
    &:link,
    &:visited {
      text-decoration: none;
      text-transform: uppercase;
      font-size: $default-font-size;
      color: $color-gray-dark;
      transition: all .2s;
    }

    &:hover,
    &:active {
      color: $color-primary;
      // text-shadow: 0 0.25rem 1rem rgba($color-black, .4);
    }
  }
}