.navigation {
  height: 5vh;
  position: relative;

  &__logo-box {
    position: absolute;
    left: 0;
    top: 0;
  }

  &__logo {
   height: 3.6rem;
  }

  &__chechbox {
    display: none;
  }

  &__button {
    display: none;
  }

  &__nav {
    position: absolute;
    right: 0;
    top: 0;
  }

  &__list {
  }

  &__item {
    display: inline-block;
  }
}