.carousel {
  height: 100%;
  text-align: center;

  &__radio {
    display: none;
  }

  &__slider {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  #slide1:checked ~ &__labels &__bullets &__bullet:nth-child(1),
  #slide2:checked ~ &__labels &__bullets &__bullet:nth-child(2),
  #slide3:checked ~ &__labels &__bullets &__bullet:nth-child(3) {
    background: red;
  }

  &__inner {
    width: 500%;
    height: 100%;
    position: relative;
  }

  &__image-slide,
  &__bullet {
    transition: all 0.5s ease-out;
  }

  &__image-slide {
    width: 20%;
    height: 100%;
    float: left;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }

  &__image {
    width: 100%;
    height: 100%;
  }

  &__labels {
    margin: 0 auto;
    /*
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
     */
  }

  &__bullets {
  }

  &__bullet {
    width: 1rem;
    height: 1rem;
    border-radius: .5rem;
    background: gray;
    display: inline-block;
    margin: 0 .1rem;
    cursor: pointer;
  }

  // Cross-fading effect
  @keyframes fade1 {
    0% { opacity:1 }
    20% { opacity:0 }
    40% { opacity:0 }
    60% { opacity:0 }
    80% { opacity:0 }
    100% { opacity:1 }
  }

  &__inner > *:nth-child(1) {
    animation: fade1 40s infinite;
  }

  @keyframes fade2 {
    0% { opacity:0 }
    20% { opacity:1 }
    40% { opacity:0 }
    60% { opacity:0 }
    80% { opacity:0 }
    100% { opacity:0 }
  }

  &__inner > *:nth-child(2) {
    animation: fade2 40s infinite;
  }

  @keyframes fade3 {
    0% { opacity:0 }
    20% { opacity:0 }
    40% { opacity:1 }
    60% { opacity:0 }
    80% { opacity:0 }
    100% { opacity:0 }
  }

  &__inner > *:nth-child(3) {
    animation: fade3 40s infinite;
  }

  /* Autoplay for slides
  #slide1:checked ~ &__slider &__inner {
    margin-left: 0;
  }

  #slide2:checked ~ &__slider &__inner {
    margin-left: -100%;
  }

  #slide3:checked ~ &__slider &__inner {
    margin-left: -200%;
  }

  @keyframes slide {
    0%, 25% {
      margin-left: 0;
    }
    33.333333%, 50% {
      margin-left: -100%;
    }
    66.666667%, 80% {
      margin-left: -200%;
    }
  }

  & > #play1:checked ~ &__slider &__inner {
    animation: slide 12300ms infinite;
  }
   */

  // Autoplay for bullets
  @keyframes bullet {
    0%, 33.333333% {
      background: red;
    }

    33.333333%, 100% {
      background: gray;
    }
  }

  #play1:checked ~ &__labels &__bullets &__bullet:nth-child(1) {
    animation: bullet 12300ms infinite -1000ms;
  }

  #play1:checked ~ &__labels &__bullets &__bullet:nth-child(2) {
    animation: bullet 12300ms infinite 3100ms;
  }

  #play1:checked ~ &__labels &__bullets &__bullet:nth-child(3) {
    animation: bullet 12300ms infinite 7200ms;
  }
}