.gallery {
  max-width: $grid-width;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;

  &__image {
    // border-radius: 2%;
    height: 62.5rem;
    flex-grow: 1;
    display: flex;

    &:not(:last-child) {
      margin-bottom: 1.6rem;
    }

    &:hover img {
      filter: brightness(120%) contrast(120%);
    }

    a {
      display: contents;
    }

    img {
      margin: 0 .8rem 0 .8rem;
      height: 100%;
      object-fit: cover;
      flex: 1 1 auto;
      transition: all 0.4s ease-in-out;
    }
  }

  &:hover &__image:not(:hover) img {
    filter: brightness(80%) contrast(80%);
  }
}