.gallery {
  display: flex;
  flex-wrap: wrap;

  &__image-box {
    height: 62.5rem;
    flex-grow: 1;
    display: flex;
    overflow: hidden;

    &:not(:last-child) {
      margin-bottom: 1.6rem;
    }
  }

  &__link {
    display: contents;
  }

  &__image {
    margin: 0 .8rem 0 .8rem;
    height: 100%;
    object-fit: cover;
    flex: 1 1 auto;
    transition: all 1s ease-in-out;

    &:hover {
      filter: brightness(105%) contrast(130%);
    }
  }

  /*
  &:hover &__image-box:not(:hover) &__image {
    filter: blur(3px)
  }
   */
}