.hero {
  width: $grid-width;
  margin: 0 auto;

  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(../img/img-1-2x.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  height: 100%;
  text-align: center;

  &__text-box {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__heading {
    color: $color-white;
  }

  &__text {
    color: $color-white;
    font-size: $default-font-size;
    display: block;
    margin-bottom: 2rem;
  }

  &__button {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 2.4rem;
    color: $color-white;
    padding: 1.5rem 4rem;
    border: .1rem solid $color-white;
    border-radius: .2rem;
    display: block;
    transition: all 0.4s ease-in-out;

    &:hover {
      color: $color-black;
      background-color: $color-white;
    }
  }
}