.hero {
  width: $grid-width;
  margin: 0 auto;

  background-image: url(../img/img-1-2x.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  height: 100%;
  text-align: center;

  &__text-box {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__heading {
    color: $color-white;
  }

  &__text {
    color: $color-white;
    font-size: $default-font-size;
  }

  &__button {

  }
}