body {
  font-family: 'Noto Sans TC', sans-serif;
  font-weight: 100;
  line-height: 1.7;
  color: $color-gray-dark;

  // font-family: 'Montserrat', sans-serif;
}

.heading-primary {
  font-size: 6rem;
  font-weight: 100;
}

.heading-secondary {
  font-size: 3.6rem;
  font-weight: 100;
}

.heading-tertiary {
  font-size: 2.4rem;
  font-weight: 100;
}

