.section-about {
  //height: 87.5vh;
  //position: relative;
  //background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(../img/img-1-2x.jpg);
  //background-size: cover;
  //background-position: top;
  display: block;
  height: 80vh;
  max-width: 100%;

  &__photo-col {
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("../img/img-14-1x.jpg");
    background-size: cover;
    height: 100%;
  }

  &__text-col {
    //position: absolute;
    //display: block;
    //top: 50%;
    //left: 50%;
    //transform: translate(-50%, -50%);
    //background-color: lighten($color-gray-dark, 20%);
    //padding: 8rem;
    position: relative;
    height: 100%;
  }

  &__text-box {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
    width: 100%;
    margin-left: 8rem;
  }

  &__heading {
    color: $color-black;
    margin-bottom: 2rem;
  }


  &__text {
    color: $color-black;
    font-size: 1.6rem;

    &--1 {
      margin-bottom: 4rem;
    }
  }
}

.section-members {
  margin-top: 16rem;
  margin-bottom: 16rem;
  text-align: left;


  &__member-box {
    object-fit: cover;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }

  &__photo-box {
    margin: 0 auto 2rem auto;
    width: 80%;
  }

  &__text-box {
    width: 80%;
    margin: 0 auto;
  }

  &__photo {
    width: 100%;
  }

  &__heading {
    margin-bottom: 2rem;
  }

  &__title {
    margin-bottom: 2rem;
  }

  &__text {
    font-size: $default-font-size;
  }
}