.section-about {
  height: 87.5vh;
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(../img/img-1-2x.jpg);
  background-size: cover;
  background-position: top;

  &__text-box {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: lighten($color-gray-dark, 20%);
    padding: 8rem;
  }

  &__heading {
    color: $color-white;
    margin-bottom: 2rem;
  }

  &__text {
    color: $color-white;
    font-size: 1.6rem;

    &--1 {
      margin-bottom: 4rem;
    }
  }
}