.section-thumbnails {
  margin-top: 8rem;
  margin-bottom: 16rem;
  text-decoration: none;
  text-transform: uppercase;

  .row {
    display: flex;
    flex-wrap: wrap;
  }

  .row .col-1-of-3 {
    flex: 1 1 auto;
  }

  .row .col-1-of-3 .thumbnail {
    height: 100%;
    opacity: 0;
  }

  .row .col-1-of-3 .thumbnail__inview {
    opacity: 1;
    transition-duration: 1.5s;
    transition-timing-function: ease-in-out;
  }

  .row .col-1-of-3:nth-child(1) .thumbnail__inview {
    transition-delay: 0s;
  }

  .row .col-1-of-3:nth-child(2) .thumbnail__inview {
    transition-delay: 1s;
  }

  .row .col-1-of-3:nth-child(3) .thumbnail__inview {
    transition-delay: 2s;
  }
}