.landing-page {
  text-align: center;

  &__logo-box {
    position: absolute;
    display: block;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: brightness(0) invert(1);
    width: 20%;
    opacity: 0.75;
  }

  &__text-box {
    position: absolute;
    display: block;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__text {
    font-size: 1.6rem;
    color: $color-white;
    margin-bottom: 4rem;
  }

  &__button {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.6rem;
    color: $color-white;
    padding: 1.5rem 4rem;
    border: .2rem solid rgba($color-white, 0.75);
    border-radius: .2rem;
    display: block;
    transition: all 0.4s ease-in-out;
    width: 20%;
    margin: 0 auto;
    cursor: pointer;

    &:hover {
      color: rgba($color-black, 0.75);
      background-color: $color-white;
    }
  }

  &__icon-box {
    position: absolute;
    display: block;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: brightness(0) invert(1);
  }

  &__brand-icon {
    display: inline-block;
    height: 1.6rem;
    opacity: 0.75;
    margin-right: 1.2rem;

    &:last-child {
      margin-right: 0;
    }
  }
}