.section-workflow {
  max-width: $grid-width;
  margin: 0 auto 16rem auto;
  text-align: center;
  display: block;
  position: relative;

  &__workflow-heading {
    margin-top: 8rem;
  }
/*
  &__step {
    position: relative;
    background-color: $color-white;
    //clip-path: polygon(5% 0, 100% 0, 95% 100%, 0 100%);
    text-align: center;
    height: 15vh;
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
*/
  &__step-text-box {
    text-align: left;
    //position: absolute;
    //left: 50%;
    //top: 50%;
    //transform: translate(-50%, -50%);
  }

  &__step-text-box-icon {
    display: inline-block;
    vertical-align: top;
    margin-right: 4rem;
    span {
      font-size: 10rem;
      opacity: 90%;
    }
    //display: inline-block;
    //position: absolute;
    //left: 50%;
    //top: 50%;
    //transform: translate(-50%, -50%);
  }

  &__step-text-box-text {
    display: inline-block;
    //display: inline-block;
    //position: absolute;
    //left: 50%;
    //top: 50%;
    //transform: translate(-50%, -50%);
  }

  &__step-heading {
    color: $color-gray-dark;
    margin-bottom: 0.4rem;
  }

  &__step-text {
    color: $color-gray-dark;
    font-size: 1.6rem;
    span {
      font-size: 2rem;
      vertical-align: text-bottom;
    }
  }
/*
  &__line {
    border-left: 0.8rem dotted lighten($color-gray-dark, 20%);
    position: absolute;
    top: 10%;
    height: 95%;
    left: 25%;
  }
 */
}